.footer_outer_container{
    padding:0 10%;
}
.footer_inner_container
{
    /* background-color:burlywood; */
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.footer_inner_container div ul{
list-style: none;

}
.footer_inner_container div ul li{
    margin-bottom: 10%;
}
.footer_inner_container div ul li a{
text-decoration: none;
 color: gray;
}
.source_and_copy
{
    margin-top: 3px;
    color: gray; 
}
.source_and_copy p{
    display: inline-block;
    border:  rgb(146, 133, 133) 1px solid ;
}